In [20]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.1.2-py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.0/153.0 kB 3.7 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.2

In [108]:
import pandas as pd
import pickle

In [ ]:
total_df = pd.DataFrame()

In [38]:
df = pd.DataFrame({'Country_Name' : ['중국', '미국', '일본', '사우디아라비아', '호주', '대만', '베트남', '독일', '러시아연방', '카타르', '인도네시아', '아랍에미리트', '말레이시아',
                                     '쿠웨이트', '싱가포르', '이라크', '네덜란드', '인도', '캐나타', '이탈리아', '멕시코', '태국', '영국', '칠레', '프랑스', '브라질', '오만',
                                     '필리핀', '카자흐스탄', '남아프리카공화국', '페루', '벨기에', '알제리', '스위스', '노르웨이', '스페인', '아르헨티나', '홍콩', '오스트리아', '이란',
                                     '스웨덴', '한국', '나이지리아', '이집트', '파푸아뉴기니', '이스라엘', '튀르키예', '아일랜드', '그리스', '폴란드']})

In [39]:
cntry_list = list(df.Country_Name)

In [99]:
temp_df = pd.read_excel('/content/drive/MyDrive/work_space/Project_Files/BI공모전/분석과제 2/글로벌 무역현황_2022년도.xlsx')

/usr/local/lib/python3.10/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [100]:
temp_df.columns = list(temp_df.iloc[0])
temp_df = temp_df[1:]
temp_df.reset_index(inplace=True, drop=True)

In [101]:
search = '|'.join(cntry_list)
search

'중국|미국|일본|사우디아라비아|호주|대만|베트남|독일|러시아연방|카타르|인도네시아|아랍에미리트|말레이시아|쿠웨이트|싱가포르|이라크|네덜란드|인도|캐나타|이탈리아|멕시코|태국|영국|칠레|프랑스|브라질|오만|필리핀|카자흐스탄|남아프리카공화국|페루|벨기에|알제리|스위스|노르웨이|스페인|아르헨티나|홍콩|오스트리아|이란|스웨덴|한국|나이지리아|이집트|파푸아뉴기니|이스라엘|튀르키예|아일랜드|그리스|폴란드'

In [102]:
temp_df.iloc[:, 3:7] = temp_df.iloc[:, 3:7].astype(float)

<ipython-input-102-456606040144>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df.iloc[:, 3:7] = temp_df.iloc[:, 3:7].astype(float)

In [103]:
temp = temp_df[(temp_df['수출국가'].str.contains(search)) & (temp_df['수입국가'].str.contains(search)) & (temp_df['수출 점유율'] >= 0.5) & (temp_df['수입 점유율'] >= 0.5)]

In [104]:
temp = temp.drop('품목 HS CODE', axis=1)
temp.reset_index(inplace=True, drop=True)

In [105]:
temp

       순위  수출국가      수입국가    조회기준     수출금액 (단위:$)     수입 점유율     수출 점유율
0       1    중국        미국  2022.0  575688091172.0  14.885502   21.14095
1       2   멕시코        미국  2022.0  459177656357.0  11.872905  79.521861
2       4    홍콩        중국  2022.0  327393749594.0  24.016664  67.350265
3       5    미국       멕시코  2022.0  303183191307.0  71.762286   12.95686
4       7    중국        홍콩  2022.0  268033736232.0  38.531321   9.842983
..    ...   ...       ...     ...             ...        ...        ...
509  1710  쿠웨이트  남아프리카공화국  2022.0     695938475.0   0.503888   3.260802
510  1718   그리스      이스라엘  2022.0     690982784.0    0.50007   1.520648
511  1780    칠레        태국  2022.0     643372510.0   0.683538   0.587453
512  1883  이스라엘       그리스  2022.0     566693464.0   0.570625   0.643183
513  2321   그리스       이집트  2022.0     358672089.0   0.706862   0.789331

[514 rows x 7 columns]

In [106]:
total_df = pd.concat([total_df, temp], ignore_index = True)

In [107]:
total_df

        순위  수출국가      수입국가    조회기준     수출금액 (단위:$)     수입 점유율     수출 점유율
0        1    중국        미국  2018.0  556237328220.0  22.045461  19.164952
1        2   멕시코        미국  2018.0  341861831747.0  13.549076  71.461525
2        4    중국        홍콩  2018.0  281589822653.0  43.682643   9.702074
3        6    미국       멕시코  2018.0  212362275070.0  46.843975  13.085821
4        7    한국        중국  2018.0  204920070541.0   9.503582  30.450834
...    ...   ...       ...     ...             ...        ...        ...
3801  1710  쿠웨이트  남아프리카공화국  2022.0     695938475.0   0.503888   3.260802
3802  1718   그리스      이스라엘  2022.0     690982784.0    0.50007   1.520648
3803  1780    칠레        태국  2022.0     643372510.0   0.683538   0.587453
3804  1883  이스라엘       그리스  2022.0     566693464.0   0.570625   0.643183
3805  2321   그리스       이집트  2022.0     358672089.0   0.706862   0.789331

[3806 rows x 7 columns]

In [111]:
total_df.to_csv('/content/drive/MyDrive/work_space/Project/BI_Competition/Trade_Balance_byCountry.csv', index=False)

with open('/content/drive/MyDrive/work_space/Project/BI_Competition/Trade_Balance_byCountry.pkl', 'wb') as f:
  pickle.dump(total_df, f)

In [112]:
total_df

        순위  수출국가      수입국가    조회기준     수출금액 (단위:$)     수입 점유율     수출 점유율
0        1    중국        미국  2018.0  556237328220.0  22.045461  19.164952
1        2   멕시코        미국  2018.0  341861831747.0  13.549076  71.461525
2        4    중국        홍콩  2018.0  281589822653.0  43.682643   9.702074
3        6    미국       멕시코  2018.0  212362275070.0  46.843975  13.085821
4        7    한국        중국  2018.0  204920070541.0   9.503582  30.450834
...    ...   ...       ...     ...             ...        ...        ...
3801  1710  쿠웨이트  남아프리카공화국  2022.0     695938475.0   0.503888   3.260802
3802  1718   그리스      이스라엘  2022.0     690982784.0    0.50007   1.520648
3803  1780    칠레        태국  2022.0     643372510.0   0.683538   0.587453
3804  1883  이스라엘       그리스  2022.0     566693464.0   0.570625   0.643183
3805  2321   그리스       이집트  2022.0     358672089.0   0.706862   0.789331

[3806 rows x 7 columns]

In [144]:
cntry_code = pd.read_excel('/content/drive/MyDrive/work_space/Project/BI_Competition/관세청조회코드_v1.0.xlsx', sheet_name=2)
cntry_code = cntry_code[2:]
cntry_code.reset_index(inplace=True, drop=True)

In [145]:
cntry_code.columns = list(cntry_code.iloc[0])
cntry_code = cntry_code[1:]
cntry_code.reset_index(inplace=True, drop=True)
cntry_code = cntry_code[:-1]

In [119]:
cntry_code = cntry_code[cntry_code['국가명'].str.contains(search)]

In [ ]:
cntry_code.drop(252, inplace=True)
cntry_code

In [135]:
cntry_code.reset_index(inplace=True, drop=True)

In [138]:
cntry_code.to_csv('/content/drive/MyDrive/work_space/Project/BI_Competition/Country_code_mapping_table.csv', index=True)

In [139]:
cntry_code.to_excel('/content/drive/MyDrive/work_space/Project/BI_Competition/Country_code_mapping_table.xlsx', index=True)

In [162]:
cntry_code[cntry_code.국가명.str.contains('러시아')]

    국가코드     국가명
200   RU  러시아 연방

In [148]:
cntry_map_dict = dict()
for i in range(len(cntry_code)):
    cntry_map_dict[cntry_code.loc[i, '국가명']] = cntry_code.loc[i, '국가코드']

In [151]:
mapper = lambda x: cntry_map_dict.get(x, x)

In [150]:
total_df

        순위  수출국가      수입국가    조회기준     수출금액 (단위:$)     수입 점유율     수출 점유율
0        1    중국        미국  2018.0  556237328220.0  22.045461  19.164952
1        2   멕시코        미국  2018.0  341861831747.0  13.549076  71.461525
2        4    중국        홍콩  2018.0  281589822653.0  43.682643   9.702074
3        6    미국       멕시코  2018.0  212362275070.0  46.843975  13.085821
4        7    한국        중국  2018.0  204920070541.0   9.503582  30.450834
...    ...   ...       ...     ...             ...        ...        ...
3801  1710  쿠웨이트  남아프리카공화국  2022.0     695938475.0   0.503888   3.260802
3802  1718   그리스      이스라엘  2022.0     690982784.0    0.50007   1.520648
3803  1780    칠레        태국  2022.0     643372510.0   0.683538   0.587453
3804  1883  이스라엘       그리스  2022.0     566693464.0   0.570625   0.643183
3805  2321   그리스       이집트  2022.0     358672089.0   0.706862   0.789331

[3806 rows x 7 columns]

In [152]:
total_df['Export_Country_Code'] = total_df['수출국가'].map(mapper)

In [154]:
total_df['Import_Country_Code'] = total_df['수입국가'].map(mapper)

In [156]:
total_df

,순위,수출국가,수입국가,조회기준,수출금액 (단위:$),수입 점유율,수출 점유율,Export_Country_Code,Import_Country_Code
0,1,중국,미국,2018.0,556237328220.0,22.045461,19.164952,CN,US
1,2,멕시코,미국,2018.0,341861831747.0,13.549076,71.461525,MX,US
2,4,중국,홍콩,2018.0,281589822653.0,43.682643,9.702074,CN,HK
3,6,미국,멕시코,2018.0,212362275070.0,46.843975,13.085821,US,MX
4,7,한국,중국,2018.0,204920070541.0,9.503582,30.450834,KR,CN
...,...,...,...,...,...,...,...,...,...
3801,1710,쿠웨이트,남아프리카공화국,2022.0,695938475.0,0.503888,3.260802,KW,남아프리카공화국
3802,1718,그리스,이스라엘,2022.0,690982784.0,0.50007,1.520648,GR,IL
3803,1780,칠레,태국,2022.0,643372510.0,0.683538,0.587453,CL,TH
3804,1883,이스라엘,그리스,2022.0,566693464.0,0.570625,0.643183,IL,GR
3805,2321,그리스,이집트,2022.0,358672089.0,0.706862,0.789331,GR,EG

In [157]:
total_df.to_csv('/content/drive/MyDrive/work_space/Project/BI_Competition/Trade_Balance_byCountry.csv', index=False)

with open('/content/drive/MyDrive/work_space/Project/BI_Competition/Trade_Balance_byCountry.pkl', 'wb') as f:
  pickle.dump(total_df, f)